.heroine {
    background-color: white;
    position: fixed;
    
}
nav{
    display: flex;
    gap: 10px;
}
nav > button{
    border: none;
    font-family: Satoshi;
    font-size: small;
    background-color: white;
}

nav > button:hover {
    cursor: pointer;
    font-size: small;
    font-weight: bold;

  } 
