@font-face {
  font-family: 'Satoshi';
  src: url('../Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2') format('woff2');
}
@font-face{
  font-family: 'Satoshi-Bold';
  src: url('../Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff2') format('woff2');
}

main {
  text-align: center;
  font-family: Satoshi, Arial, Helvetica, sans-serif;
}
main > .infoMain {
    height: 100px;
    display: grid;
    grid-template-areas: "a a a a";
    grid-gap: 10px;
    grid-auto-columns: 250px;
    justify-content: center;
    text-align: left;
  }
/* button {
  background-color: black;
  height: 30px;
  border-color: black;
  color: yellowgreen;
}
button :hover {
  cursor: pointer;

} */

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */